:root {
  --primary-color: #495e57;
}

.container {
  background-color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100px;
  width: 75%;
  margin: auto;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  padding: 10px;
  margin: 0 15px;
}

nav li a {
  font-family: Markazi Text;
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

nav li a:hover {
  color: #263731;
}

#nav-btns {
  margin: 0 2px;
}

.nav-btn {
  background-color: var(--primary-color);
  border-radius: 16px;
  color: white;
  padding: 8px 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.nav-btn:hover {
  background-color: #263731;
  color: white;
}

main {
  width: 100%;
  height: 150px;
}

footer {
  background: #1f1f1f;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer img {
  padding-bottom: 25px;
}

footer ul {
  display: flex;
}

footer ul li {
  list-style: none;
  padding: 0 10px;
  margin: 0 15px;
  text-align: center;
  color: #afadad;
}

.social-icon {
  margin: 0 6px;
}

footer li a {
  font-family: Karla;
  color: #afadad;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

footer li a:hover {
  color: #6e6e6e;
}
